<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      Chat con {{ interlocutor}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="chat-content">
  <ion-list lines="none">
    <ion-item class="message" *ngFor="let message of messages">
      <div class="avatar" *ngIf="message.EnvioRecepcion=='E'">{{ myName.charAt(0) }}</div>
      <div class="message-content" [ngClass]="{'received': message.EnvioRecepcion == 'R', 'sent': message.EnvioRecepcion=='E'}">
        {{ message.Mensaje }}
        <div class="message-date">{{ message.Fecha }}</div>
      </div>
      <div class="avatar" *ngIf="message.EnvioRecepcion=='R'">{{ interlocutor.charAt(0) }}</div>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-input [(ngModel)]="newMessage" class="message-input" placeholder="Escribe un mensaje..."></ion-input>
    <ion-button expand="full" (click)="sendMessage()" class="send-button">Enviar</ion-button>
  </ion-toolbar>
</ion-footer>
