<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="cancel()" color="medium"> Cancelar</ion-button>
    </ion-buttons>
    <ion-title>Tratar Residuo</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content color="light">
  <ion-segment value="Convert">
    <ion-segment-button value="Convert" (click)="changeService('6')">
      <ion-icon name="git-compare"></ion-icon>
      Convertir
    </ion-segment-button>
    <ion-segment-button value="Decompose" (click)="changeService('6')">
      <ion-icon name="git-branch"></ion-icon>
      Descomponer
    </ion-segment-button>
    <ion-segment-button value="Aggregate" (click)="changeService('12')">
      <ion-icon name="git-pull-request"></ion-icon>
      Agregar
    </ion-segment-button>
  </ion-segment>
  <form [formGroup]="frm">
    <ion-list inset="true">
      <ion-item lines="none">
        <ion-title>{{ residue?.Material }} #{{residueId}}</ion-title>
      </ion-item>
      <ion-item lines="none">
        <ion-icon name="location-outline" slot="start"></ion-icon>
        <ion-label size="small">{{ residue?.DepositoOrigen }}</ion-label>
      </ion-item>
      <ion-item lines="none">
        <ion-icon name="calendar-outline" slot="start"></ion-icon>
        <ion-label size="small">{{ residue?.FechaIngreso }}</ion-label>
      </ion-item>
      <ion-item lines="none">
        <ion-icon name="person-outline" slot="start"></ion-icon>
        <ion-label size="small">{{ residue?.Propietario }}</ion-label>
      </ion-item>
      <ion-item lines="none">
        <ion-icon name="clipboard-outline" slot="start"></ion-icon>
        <ion-label size="small">{{ residue?.Solicitud }}</ion-label>
      </ion-item>
    </ion-list>
    <ion-item-divider>{{tituloDivisor}}</ion-item-divider>
    <ion-list inset="true">
      <ion-item>
        <ion-label>Fecha</ion-label>
        <ion-datetime-button datetime="datetime" slot="end" ></ion-datetime-button>
      </ion-item>
      <ion-item *ngIf="serviceId=='3'">
        <ion-label slot="start">Material</ion-label>
        <ion-label>{{ material }}</ion-label>
        <ion-button color="light" (click)="selectMaterial()">...</ion-button>
      </ion-item>
      <ion-item *ngIf="serviceId=='6'">
        <ion-icon name="add-sharp" slot="start"></ion-icon>
        <ion-label slot="start">Residuo</ion-label>
        <ion-label>{{ material }}</ion-label>
        <ion-button color="light" (click)="selectMaterial()">...</ion-button>
      </ion-item>
      <ion-item *ngIf="serviceId=='6'">
        <ion-label slot="start">Residuo</ion-label>
        <ion-label>{{ residuo }}</ion-label>
        <ion-button color="light" (click)="selectResiduo()">...</ion-button>
      </ion-item>
      <ion-item>
        <ion-icon *ngIf="serviceId=='6'" name="" slot="start"></ion-icon>
        <ion-label slot="start">Cantidad</ion-label>
        <ion-input formControlName="Quantity" required="true" type="number"></ion-input>
        <ion-label>{{ unidad }}</ion-label>
      </ion-item>
    </ion-list>
    <ion-button expand="full">{{tituloBoton}}</ion-button>
  </form>
  <ion-item-divider></ion-item-divider>
  <ion-item>
    <ion-icon name="git-compare" [color]="colorConvert" slot="start"></ion-icon>
    <ion-note [color]="colorConvert">
      Convertir: Cambiar el material por uno nuevo, como resultado de un pretratamiento, limpieza, laboratorio, etc
    </ion-note>
  </ion-item>
  <ion-item>
    <ion-icon name="git-branch" [color]="colorDecompose" slot="start"></ion-icon>
    <ion-note [color]="colorDecompose">
      Descomponer: Desagregar el residuo en diferentes piezas
    </ion-note>
  </ion-item>
  <ion-item>
    <ion-icon name="git-pull-request" [color]="colorAggregate" slot="start"></ion-icon>
    <ion-note [color]="colorAggregate">
      Agregar: Acumular el residuo en uno ya existente
    </ion-note>
  </ion-item>
</ion-content>
<ion-modal [keepContentsMounted]="true">
  <ng-template>
    <ion-datetime id="datetime" presentation="date" (ionChange)="dateTimeChanged($event)"></ion-datetime>
  </ng-template>
</ion-modal>
