<ion-content [fullscreen]="true" class="ion-padding">
  <div class="login-container">
    <h2 class="welcome-text">{{ 'AUTH.LOGIN.WELCOME' | translate }}</h2>

    <form [formGroup]="loginForm" (ngSubmit)="login()" class="login-form">
      <div class="logo-container">
        <img src="../../../assets/img/Gresst.png" alt="Gresst Logo" class="logo">
      </div>

      <ion-item lines="none" class="input-item">
        <ion-icon name="person-outline" slot="start"></ion-icon>
        <ion-input
          formControlName="username"
          type="email"
          [label]="'AUTH.LOGIN.USERNAME' | translate"
          labelPlacement="floating"
          class="custom">
        </ion-input>
      </ion-item>

      <ion-item lines="none" class="input-item">
        <ion-icon name="lock-closed-outline" slot="start"></ion-icon>
        <ion-input
          formControlName="password"
          type="password"
          [label]="'AUTH.LOGIN.PASSWORD' | translate"
          labelPlacement="floating"
          class="custom">
        </ion-input>
      </ion-item>

      <ion-button expand="block" class="login-button" shape="round" type="submit" [disabled]="loginForm.invalid || isCheckingSession">
        <ion-icon slot="start" name="log-in-outline"></ion-icon>
        {{ 'AUTH.LOGIN.SUBMIT' | translate }}
      </ion-button>

      <ion-button fill="clear" expand="block" class="forgot-password" (click)="recoverPassword()">
        {{ 'AUTH.LOGIN.FORGOT_PASSWORD' | translate }}
      </ion-button>
    </form>
  </div>
</ion-content>
