<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="cancel()" color="medium">
          Salir
      </ion-button>
    </ion-buttons>
    <ion-title></ion-title>
    <ion-buttons slot="end">
      <ion-button [strong]="true" (click)="reject()" color="danger">
        <ion-icon name="remove-circle"></ion-icon>Rechazar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<br/>
<ion-content>
  <ion-title>
    <ion-label class="ion-text-wrap">
      {{ title }}
    </ion-label>
  </ion-title>
  <br>
  <ion-item lines="none">
    <ion-note>Observaciones</ion-note>
  </ion-item>
  <ion-item>
    <ion-textarea></ion-textarea>
  </ion-item>
</ion-content>
<ion-footer>
  <ion-item>
    <ion-label color="danger"  class="ion-text-wrap">{{ notesText }}</ion-label>
  </ion-item>
</ion-footer>
