<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="cancel()" color="medium">
        <ion-icon name="close-circle"></ion-icon>
        Salir
      </ion-button>
    </ion-buttons>
    <ion-title></ion-title>
    <ion-buttons slot="end">
      <ion-button *ngIf="approveOrReject=='approve'" [strong]="true" (click)="confirm()" color="success">
        <ion-icon name="checkmark-circle"></ion-icon>Confirmar</ion-button>
      <ion-button *ngIf="approveOrReject=='reject'" [strong]="true" (click)="reject()" color="danger">
        <ion-icon name="remove-circle"></ion-icon>Rechazar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content color="light">
  <ion-item color="light">
    <app-card [card]="transaction" [allowApprove]="false" [allowNavigate]="false"></app-card>
  </ion-item>
  <div class="signature-container" >
    <canvas #canvas
      (touchstart)="startDrawing($event)"
      (touchmove)="draw($event)"
      (touchend)="endDrawing()">
    </canvas>
  </div>
  <ion-item *ngIf="showSignPad" color="light">
    <ion-note slo="start">
      Firma
    </ion-note>
    <ion-button (click)="clear()" slot="end" fill="clear">
      <ion-label>Borrar Firma</ion-label>
    </ion-button>
  </ion-item>
  <form [formGroup]="frmTransaccion">
    <ion-list inset="true">
      <ion-item *ngIf="showName">
        <ion-input label="Nombre" labelPlacement="floating" formControlName="Nombre" ></ion-input>
      </ion-item>
      <ion-item *ngIf="showPin">
        <ion-input label="Identificación" labelPlacement="floating" formControlName="Identificacion"></ion-input>
      </ion-item>
      <ion-item *ngIf="showPosition">
        <ion-input label="Cargo" labelPlacement="floating" formControlName="Cargo"></ion-input>
      </ion-item>
      <ion-item *ngIf="showMileage">
        <ion-input label="Marcador {{unidadKilometraje}}" labelPlacement="floating" formControlName="Kilometraje" type="number"></ion-input>
      </ion-item>
      <ion-item *ngIf="showNotes">
        <ion-textarea autoGrow="true" label="Observaciones" labelPlacement="floating" formControlName="Observaciones" ></ion-textarea>
      </ion-item>
    </ion-list>
  </form>
</ion-content>
<ion-footer>
  <ion-note>
    Se marcarán {{ transaction.pendingItems }} items que están pendientes como no recibidos
  </ion-note>
</ion-footer>
