<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="cancel()" color="medium">
        Cancelar
      </ion-button>
    </ion-buttons>
    <ion-title></ion-title>
    <ion-buttons slot="end">
      <ion-button [strong]="true" (click)="confirm()">Confirmar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-item>
    <ion-icon name="location-outline" color="warning"></ion-icon>
    <ion-title>
      <ion-label class="ion-text-wrap">
        {{ title }}
      </ion-label>
    </ion-title>
  </ion-item>
  <ion-item lines="inset" color="light" >
    <ion-icon name="trash-bin" color="light"></ion-icon>
    <ion-badge color="success"> {{ transaccion?.ItemsAprobados }} </ion-badge>
    <ion-badge color="warning"> {{ transaccion?.ItemsPendientes }} </ion-badge>
    <ion-badge color="danger"> {{ transaccion?.ItemsRechazados }} </ion-badge>
    <ion-badge slot="end" size="small" color="light" *ngIf="transaccion?.Cantidades != ''"> {{ transaccion?.Cantidades ?? '' }} </ion-badge>
  </ion-item>
  <div class="signature-container" >
    <canvas #canvas
      (touchstart)="startDrawing($event)"
      (touchmove)="draw($event)"
      (touchend)="endDrawing()">
    </canvas>
  </div>
  <ion-item *ngIf="showSignPad">
    <ion-note slo="start">
      Firma Responsable Entrega
    </ion-note>
    <ion-button (click)="clear()" slot="end" fill="clear">
      <ion-label>Borrar Firma</ion-label>
    </ion-button>
  </ion-item>
  <form [formGroup]="frmTransaccion">
      <ion-item *ngIf="showName">
      <ion-note slot="start">Nombre</ion-note>
      <ion-input formControlName="Nombre" aria-label="Nombre" ></ion-input>
    </ion-item>
    <ion-item *ngIf="showPin">
      <ion-note slot="start">Identificación</ion-note>
      <ion-input formControlName="Identificacion" aria-label="Identificación" ></ion-input>
    </ion-item>
    <ion-item *ngIf="showNotes">
      <ion-note slot="start">Observaciones</ion-note>
      <ion-textarea formControlName="Observaciones" aria-label="Observaciones" ></ion-textarea>
    </ion-item>
  </form>
</ion-content>
<ion-footer>
  <ion-note>
    Se marcaran {{ transaccion?.ItemsPendientes }} items que estan penddientes como no recibidos
  </ion-note>
</ion-footer>
