<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="cancel()">Cancelar</ion-button>
    </ion-buttons>
    <ion-title>Publicar residuo</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content color="light">
  <ion-segment value="Publish">
    <ion-segment-button value="Publish">
      Publicar
    </ion-segment-button>
    <ion-segment-button value="Remove">
      Remover
    </ion-segment-button>
  </ion-segment>
  <form [formGroup]="formData">
    <ion-list inset="true">
      <ion-item>
        <ion-datetime-button datetime="datetime" ></ion-datetime-button>
      </ion-item>
      <ion-item lines="none">
        <ion-title>{{ residue?.Material }} #{{residueId}}</ion-title>
      </ion-item>
      <ion-item lines="none">
        <ion-icon name="location-outline" slot="start"></ion-icon>
        <ion-label size="small">{{ residue?.DepositoOrigen }}</ion-label>
      </ion-item>
      <ion-item lines="none">
        <ion-icon name="calendar-outline" slot="start"></ion-icon>
        <ion-label size="small">{{ residue?.FechaIngreso }}</ion-label>
      </ion-item>
      <ion-item lines="none">
        <ion-icon name="person-outline" slot="start"></ion-icon>
        <ion-label size="small">{{ residue?.Propietario }}</ion-label>
      </ion-item>
      <ion-item lines="none">
        <ion-icon name="clipboard-outline" slot="start"></ion-icon>
        <ion-label size="small">{{ residue?.Solicitud }}</ion-label>
      </ion-item>
    </ion-list>
    <ion-button expand="full">Publicar</ion-button>
  </form>
</ion-content>
<ion-modal [keepContentsMounted]="true">
  <ng-template>
    <ion-datetime id="datetime" presentation="date" (ionChange)="dateTimeChanged($event)"></ion-datetime>
  </ng-template>
</ion-modal>
