<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="cancel()" color="medium">
        Cancelar
      </ion-button>
    </ion-buttons>
    <ion-title></ion-title>
    <ion-buttons slot="end">
      <ion-button [strong]="true" (click)="confirm()">Confirmar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-item>
  <ion-title>
    <ion-label class="ion-text-wrap">
      {{ title }}
    </ion-label>
  </ion-title>
</ion-item>
<ion-content>
  <div class="signature-container" >
    <canvas #canvas
      (touchstart)="startDrawing($event)"
      (touchmove)="draw($event)"
      (touchend)="endDrawing()">
    </canvas>
  </div>
  <ion-item *ngIf="showSignPad">
    <ion-label>
      Firma Receptor
    </ion-label>
    <ion-button (click)="clear()" slot="end" fill="clear">
      <ion-label>Borrar Firma</ion-label>
    </ion-button>
  </ion-item>
  <form [formGroup]="frmActividad">
    <ion-item *ngIf="showName">
    <ion-note slot="start">Nombre</ion-note>
    <ion-input formControlName="Nombre" aria-label="Nombre" ></ion-input>
  </ion-item>
  <ion-item *ngIf="showPin">
    <ion-note slot="start">Identificación</ion-note>
    <ion-input formControlName="Identificacion" aria-label="Identificación" ></ion-input>
  </ion-item>
  <ion-item *ngIf="showNotes">
    <ion-note slot="start">Observaciones</ion-note>
    <ion-textarea formControlName="Observaciones" aria-label="Observaciones" ></ion-textarea>
  </ion-item>
</form>
</ion-content>
