<ion-header collapse="condense">
  <ion-toolbar>
    <ion-title size="large">Crear cuenta</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <div class="vertical-center">
    <ion-item lines="none">
      <img src="../../../assets/img/Gresst.png" alt="" class="logo">
    </ion-item>
    <form color="light">
      <ion-list inset="true" >
        <ion-item>
          <ion-label position="floating" color="medium">
            <ion-icon name="person" item-start class="text-primary"></ion-icon>
            Correo usuario principal
          </ion-label>
          <ion-label position="floating" color="medium">
            Utilizado para funciones administrativas
          </ion-label>
          <ion-input [(ngModel)]="email" name="email" type="email" aria-label="email" label=""></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating" color="medium">
            <ion-icon name="person" item-start class="text-primary"></ion-icon>
            Nombre de la cuenta
          </ion-label>
          <ion-label position="floating" color="medium">
            Escriba un nombre para su cuenta. Se puede cambiar despues de ser creada por los ajustes de la aplicacion
          </ion-label>
          <ion-input [(ngModel)]="name" name="name" type="text" aria-label="name" label=""></ion-input>
        </ion-item>
        <ion-button expand="block" color="success" (click)="verify()">
          <ion-icon slot="start" name="log-in"></ion-icon>
          Verificar Correo
        </ion-button>
      </ion-list>
    </form>
  </div>
</ion-content>
