<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Agregar Punto</ion-title>
    <ion-buttons slot="end">
      <ion-button [strong]="true" (click)="confirm()">Confirmar</ion-button>
    </ion-buttons>
</ion-toolbar>
</ion-header>
<ion-searchbar (ionInput)="handleInput($event)"></ion-searchbar>
<ion-content *ngIf="puntos.length == 0">
  <app-facility></app-facility>
</ion-content>
<ion-content [fullscreen]="true">
  <ion-list *ngFor="let punto of puntos">
    <ion-item (click)="select(punto.Id, punto.OwnerId || '', punto.Name)">
      <ion-icon name="checkmark-outline" *ngIf="idPunto === punto.Id"></ion-icon>
      <ion-label>{{ punto.OwnerId }} - {{ punto.Name }}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>

