<ion-header>
  <ion-toolbar class="header-green">
    <ion-buttons slot="start">
      <ion-back-button (click)="goBack()"></ion-back-button>
    </ion-buttons>
    <ion-title color="light">
      {{ activity().title }}
    </ion-title>
    <ion-buttons slot="end">
      <ion-button  *ngIf="showSupport" (click)="showSupports()">
        <ion-icon name="reader-outline" size="large"></ion-icon>
      </ion-button>
      <ion-button  *ngIf="showNavigation" (click)="navigateToMap()">
        <ion-icon name="navigate-circle-outline" size="large"></ion-icon>
      </ion-button>
      <ion-button (click)="synchronize()">
        <ion-icon name="sync-outline" color="getColor()"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar >
    <ion-searchbar (ionInput)="handleInput($event)" placeholder="Buscar ..." show-clear-button="focus"></ion-searchbar>
  </ion-toolbar>
    <app-card [card]="activity()" [allowNavigate]="false" [allowApprove]="true" (approve)="openApproveActividad()"></app-card>
</ion-header>
<ion-content [fullscreen]="true" color="light">
  <app-card-list [cards]="transactions()" (edit)="navigateToTareas($event)" ></app-card-list>
  <ion-fab slot="fixed" vertical="bottom" horizontal="end" *ngIf="showAdd">
    <ion-fab-button (click)="openAddTarea()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
