<ion-header *ngIf="showHeader">
  <ion-toolbar>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button (click)="cancel()">Cancelar</ion-button>
      </ion-buttons>
    </ion-toolbar>
    </ion-toolbar>
  </ion-header>
  <ion-searchbar (ionInput)="handleInput($event)"></ion-searchbar>
  <ion-content *ngIf="vehicles.length == 0">
    <ion-item>
      <ion-button (click)="create()">
        <ion-icon name="save-outline"></ion-icon>
        Crear
      </ion-button>
    </ion-item>
    <ion-toast message="Insumo creado" [duration]="5000"></ion-toast>
  </ion-content>
  <ion-content>
    <ion-list *ngFor="let vehicle of vehicles">
      <ion-item (click)="select(vehicle.IdVehiculo)">
        <ion-icon name="checkmark-outline" *ngIf="selectedValue === vehicle.IdVehiculo"></ion-icon>
        <ion-label>{{ vehicle.Nombre }}</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
