<ion-header>
  <ion-toolbar>
    <ion-title>Seleccionar Ubicación</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cancel()">Cancelar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <ion-item>
      <ion-label position="stacked">Descripción</ion-label>
      <ion-input [(ngModel)]="description" placeholder="Ingrese una descripción"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Coordenadas</ion-label>
      <ion-text>
        <p *ngIf="latitude && longitude">
          Latitud: {{latitude | number:'1.6-6'}}<br>
          Longitud: {{longitude | number:'1.6-6'}}
        </p>
        <p *ngIf="!latitude || !longitude" class="ion-text-muted">
          No se ha obtenido ubicación
        </p>
      </ion-text>
    </ion-item>
  </ion-list>

  <div class="ion-padding">
    <ion-button expand="block" (click)="getLocation()" [disabled]="isLoading">
      <ion-spinner *ngIf="isLoading" name="crescent"></ion-spinner>
      <ion-icon *ngIf="!isLoading" name="location-outline" slot="start"></ion-icon>
      {{isLoading ? 'Obteniendo ubicación...' : 'Obtener ubicación actual'}}
    </ion-button>

    <ion-button expand="block" color="success" (click)="confirm()" [disabled]="!latitude || !longitude">
      <ion-icon name="checkmark-outline" slot="start"></ion-icon>
      Confirmar ubicación
    </ion-button>
  </div>
</ion-content>
