<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-icon name="close-circle"></ion-icon>
      <ion-button (click)="cancel()" color="medium">Salir
      </ion-button>
    </ion-buttons>
    <ion-title></ion-title>
    <ion-buttons slot="end">
      <ion-button [strong]="true" (click)="reject()" color="danger">
        <ion-icon name="remove-circle"></ion-icon>Rechazar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content color="light">
  <form [formGroup]="frmTransaction">
    <ion-list color="light">
      <ion-item lines="none" color="light">
        <ion-icon src="../../../assets/icon/recycle-bag.svg" slot="start"></ion-icon>
        <ion-label class="ion-text-wrap">{{ material }}</ion-label>
      </ion-item>
      <ion-item lines="none" *ngIf="point != ''" color="light">
        <ion-icon name="location-outline" slot="start"></ion-icon>
        <ion-label size="small">{{ point }}</ion-label>
      </ion-item>
      <ion-item lines="none" color="=light">
        <ion-icon name="person-outline" slot="start"></ion-icon>
        <ion-label size="small">{{ stakeholder }}</ion-label>
      </ion-item>
    </ion-list>
    <ion-list inset="true">
      <ion-item>
        <ion-note slot="start">Notas</ion-note>
        <ion-textarea formControlName="Observaciones" aria-label="Observaciones"></ion-textarea>
      </ion-item>
    </ion-list>
  </form>
</ion-content>
<ion-footer>
</ion-footer>
