<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="cancel()" color="medium"> Cancelar</ion-button>
    </ion-buttons>
    <ion-title>Agregar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="light">
  <form [formGroup]="formData" >
    <ion-list inset="true">
      <ion-item *ngIf="solicitarPunto">
        <ion-label>Punto: {{ punto }}</ion-label>
        <ion-button color="light" (click)="selectPunto()">...</ion-button>
      </ion-item>
      <ion-item *ngIf="solicitarPropietario">
        <ion-label>Propietario: {{ propietario }}</ion-label>
        <ion-button color="light" (click)="selectPropietario()">...</ion-button>
      </ion-item>
      <ion-item>
        <ion-label>Material: {{ material }}</ion-label>
        <ion-button label="Material" color="light" (click)="selectMaterial()">...</ion-button>
      </ion-item>
      <ion-item *ngIf="solicitarTratamiento">
        <ion-label>Tratamiento: {{ tratamiento }}</ion-label>
        <ion-button color="light" (click)="selectTratamiento()">...</ion-button>
      </ion-item>
      <ion-item *ngIf="medicion == 'C' || captura == 'C'">
        <ion-input type="number" labelPlacement="fixed" label="{{unidadCantidad}}" inputmode="numeric" formControlName="Cantidad" [readonly]="captura != 'C'" (ionChange)="calculateFromCantidad($event)"></ion-input>
      </ion-item>
      <ion-item *ngIf="medicion == 'P' || captura == 'P'">
        <ion-input type="number" labelPlacement="fixed" label="{{unidadPeso}}" inputmode="numeric" formControlName="Peso" [readonly]="captura != 'P'"></ion-input>
      </ion-item>
      <ion-item *ngIf="medicion == 'V' || captura == 'V'">
        <ion-input type="number" labelPlacement="fixed" label="{{unidadVolumen}}" inputmode="numeric" formControlName="Volumen" [readonly]="captura != 'V'"></ion-input>
      </ion-item>
      <ion-item detail="true" (click)="toggleShowDetalles()">Otros detalles</ion-item>
      <ion-item *ngIf="showDetalles && solicitarEmbalaje">
        <ion-label>Embalaje: {{ embalaje }}</ion-label>
        <ion-button color="light" (click)="selectEmbalaje()">...</ion-button>
      </ion-item>
      <ion-item *ngIf="showDetalles && solicitarEmbalaje">
        <ion-input type="number" inputmode="numeric" formControlName="CantidadEmbalaje" label="Cant emb"></ion-input>
      </ion-item>
      <ion-item *ngIf="showDetalles">
        <ion-input type="number" inputmode="numeric" formControlName="Precio" label="Precio"></ion-input>
      </ion-item>
      <ion-item *ngIf="showDetalles">
        <ion-textarea formControlName="Observaciones" label="Observaciones"></ion-textarea>
      </ion-item>
    </ion-list>
    <ion-item color="light">
      <img [src]="photo" *ngIf="photo">
      <ion-button (click)="takePhoto()" color="light">
        <ion-icon name="camera-outline"></ion-icon>
        Foto
      </ion-button>
    </ion-item>
    <ion-button type="submit" size="medium" expand="full" (click)="submit()">Confirmar</ion-button>
  </form>
</ion-content>
