<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="cancel()" color="medium"> Cancelar</ion-button>
    </ion-buttons>
    <ion-title>Agregar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="light">
  <form [formGroup]="formData" >
    <ion-list inset="true">
      <ion-item *ngIf="solicitarPunto">
        <ion-note slot="start">P. Recolección</ion-note>
        <ion-label> {{ puntoEntrada }}</ion-label>
        <ion-button slot="end" color="light" (click)="selectPuntoRecoleccion()">...</ion-button>
      </ion-item>
      <ion-item *ngIf="solicitarPunto">
        <ion-note slot="start">P. Entrega</ion-note>
        <ion-label> {{ puntoSalida }}</ion-label>
        <ion-button slot="end" color="light" (click)="selectPuntoEntrega()">...</ion-button>
      </ion-item>
      <ion-item>
        <ion-note slot="start">Material</ion-note>
        <ion-label> {{ material }}</ion-label>
        <ion-button slot="end" label="Material" color="light" (click)="selectMaterial()">...</ion-button>
      </ion-item>
      <ion-item *ngIf="solicitarTratamiento">
        <ion-note slot="start">Tratamiento</ion-note>
        <ion-label>{{ tratamiento }}</ion-label>
        <ion-button slot="end" color="light" (click)="selectTratamiento()">...</ion-button>
      </ion-item>
      <ion-item *ngIf="medicion == 'C' || captura == 'C'">
        <ion-note slot="start">{{unidadCantidad}} </ion-note>
        <ion-input slot="end" type="number" labelPlacement="fixed" inputmode="numeric" formControlName="Cantidad" [readonly]="captura != 'C'" (ionChange)="calculateFromCantidad($event)"></ion-input>
      </ion-item>
      <ion-item *ngIf="medicion == 'P' || captura == 'P'">
        <ion-note slot="start">{{unidadPeso}}</ion-note>
        <ion-input slot="end" type="number" labelPlacement="fixed" linputmode="numeric" formControlName="Peso" [readonly]="captura != 'P'"></ion-input>
      </ion-item>
      <ion-item *ngIf="medicion == 'V' || captura == 'V'">
        <ion-note slot="start">{{unidadVolumen}}</ion-note>
        <ion-input slot="end" type="number" labelPlacement="fixed" inputmode="numeric" formControlName="Volumen" [readonly]="captura != 'V'"></ion-input>
      </ion-item>
      <ion-item *ngIf="solicitarEmbalaje">
        <ion-note slot="start">Embalaje</ion-note>
        <ion-label>{{ embalaje }}</ion-label>
        <ion-button color="light" (click)="selectEmbalaje()">...</ion-button>
      </ion-item>
      <ion-item *ngIf="solicitarEmbalaje">
        <ion-note slot="start">Cant Emb</ion-note>
        <ion-input type="number" inputmode="numeric" formControlName="CantidadEmbalaje"></ion-input>
      </ion-item>
      <ion-item>
        <ion-note slot="start">Notas</ion-note>
        <ion-textarea formControlName="Observaciones"></ion-textarea>
      </ion-item>
    </ion-list>
    <ion-item color="light">
      <img [src]="photo" *ngIf="photo">
      <ion-button (click)="takePhoto()" color="light">
        <ion-icon name="camera-outline"></ion-icon>
        Foto
      </ion-button>
    </ion-item>
    <ion-button type="submit" size="medium" expand="full" (click)="submit()">Confirmar</ion-button>
  </form>
</ion-content>
