<ion-header [translucent]="true">
  <ion-toolbar class="header-green">
    <ion-buttons slot="start">
        <ion-menu-button menu="MainMenu"></ion-menu-button>
    </ion-buttons>
    <ion-title>
      {{ pageTitle }}
    </ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="notifications"></ion-icon>
      </ion-button>
      <ion-button *ngIf="synchronizationService.pendingTransactions() > 0" (click)="synchronize()">
        <ion-icon name="sync-outline"></ion-icon>
        <ion-badge color="medium" >{{synchronizationService.pendingTransactions()}}</ion-badge>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

