<ion-header>
</ion-header>
<ion-content [fullscreen]="true" color="light">
  <ion-toolbar>
    <ion-searchbar (ionInput)="handleInput($event)" [placeholder]="'ACTIVITIES.SEARCH' | translate" show-clear-button="focus"></ion-searchbar>
  </ion-toolbar>
  <app-card-list [cards]="activities()" (edit)="navigateToTarget($event)"></app-card-list>
  <ion-fab slot="fixed" vertical="bottom" horizontal="end" *ngIf="showAdd">
    <ion-fab-button (click)="openAddActivity()" >
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
