<ion-button id="open-search" expand="block">
  <ion-icon slot="icon-only" name="search"></ion-icon>
  <ion-modal trigger="open-search">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-button (click)="cancelSearch()">Cancelar</ion-button>
          </ion-buttons>
          <ion-buttons slot="end">
            <ion-button [strong]="true">Confirmar</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-searchbar placeholder="Seleccione el segmento y luego lo que quiere buscar"></ion-searchbar>
        <ion-segment [scrollable]="true" value="map">
          <ion-segment-button value="map">
            <ion-icon name="location-outline"></ion-icon>
          </ion-segment-button>
          <ion-segment-button value="client">
            <ion-icon name="person-outline"></ion-icon>
          </ion-segment-button>
          <ion-segment-button value="trash">
            <ion-icon name="trash-outline"></ion-icon>
          </ion-segment-button>
        </ion-segment>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-button>
