<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Usuario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form [formGroup]="formData" >
    <ion-item>
      <ion-note slot="start">Correo</ion-note>
      <ion-input formControlName="Correo" readonly="true"></ion-input>
    </ion-item>
    <ion-item>
      <ion-note slot="start">Nombre</ion-note>
      <ion-input formControlName="Nombre"></ion-input>
    </ion-item>
    <ion-item>
      <ion-buttons>
        <ion-button (click)="changeName()" >Cambiar Nombre</ion-button>
        <ion-button (click)="toggleShowPassword()" color="secondary" >Cambiar Contraseña</ion-button>
      </ion-buttons>
    </ion-item>
    <ion-list inset="true" *ngIf="showPassword">
      <ion-item>
        <ion-input type="password" formControlName="ClaveActual" label="Contraseña actual" labelPlacement="floating" ></ion-input>
      </ion-item>
      <ion-item>
        <ion-input type="password" formControlName="ClaveNueva" label="Contraseña nueva" labelPlacement="floating" ></ion-input>
      </ion-item>
      <ion-item>
        <ion-input type="password" formControlName="ClaveConfirmar" label="Contraseña confirmación" labelPlacement="floating" ></ion-input>
      </ion-item>
      <ion-item>
        <ion-button (click)="changePassword()" color="secondary" fill="clear">Guardar Contraseña</ion-button>
      </ion-item>
      </ion-list>
  </form>
</ion-content>
