<!-- Main content area -->
<div class="card-container" [class.clickable]="allowNavigate" [class.header-card]="isHeader" [style.background-color]="card.color">
  <div class="card" [class.header-content]="isHeader">
    <!-- Header with icon and title -->
    <ion-item lines="none" class="transparent-item" (click)="onEdit(card)">
      <ion-icon slot="start" size="large" [name]="card.iconName ? card.iconName : null" [src]="!card.iconName ? card.iconSource : null"></ion-icon>
      <ion-label class="ion-text-wrap">
        <h2 class="card-title">{{ card.title }}</h2>
      </ion-label>
      <ion-icon slot="end" name="pencil" *ngIf="card.showEdit && card.status == 'P'"></ion-icon>
      <ion-icon slot="end" name="eye" *ngIf="card.showEdit && card.status == 'P'"></ion-icon>
    </ion-item>

    <!-- Description area -->
    <ion-item lines="none" *ngIf="allowNavigate && (card.description != '' || card.actionName != '')" (click)="onEdit(card)">
      <ion-label size="small">
        <p>{{ card.actionName ?? '' }} {{ card.description ?? '' }}</p>
      </ion-label>
    </ion-item>

    <!-- Summary area -->
    <ion-item lines="none" (click)="onEdit(card)">
      <div class="summary-content">
        <div class="badges-left" *ngIf="card.showItems">
          <ion-icon name="trash-bin-outline" size="small"></ion-icon>
          <ion-badge color="success"> {{ card.successItems }} </ion-badge>
          <ion-badge color="warning"> {{ card.pendingItems }} </ion-badge>
          <ion-badge color="danger"> {{ card.rejectedItems }} </ion-badge>
        </div>
      </div>
      <ion-badge class="summary-badge" *ngIf="card.showSummary && card.summary != ''"> {{ card.summary }} </ion-badge>
    </ion-item>

    <!-- Footer with badges and action buttons -->
    <ion-item lines="none" *ngIf="(allowApprove && (card.showApprove || card.showReject)) || (card.showEdit)">
      <div class="action-buttons" slot="end">
        <ion-button shape="round" color="success" size="small" *ngIf="allowApprove && card.showApprove && card.status == 'P' && (card.successItems ?? 0) > 0" (click)="onApprove(card.id)">
          <ion-icon name="checkmark"></ion-icon>
        </ion-button>
        <ion-button shape="round" color="danger" size="small" *ngIf="allowApprove && card.showReject && card.status == 'P' && (card.successItems ?? 0) == 0" (click)="onReject(card.id)">
          <ion-icon name="close"></ion-icon>
        </ion-button>
      </div>
    </ion-item>
  </div>
</div>
