<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="cancel()">Cancelar</ion-button>
    </ion-buttons>
    <ion-title>Firmar</ion-title>
    <ion-buttons slot="end">
      <ion-button [strong]="true" (click)="confirm()">Confirmar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="signature-container">
    <canvas #canvas
      (touchstart)="startDrawing($event)"
      (touchmove)="draw($event)"
      (touchend)="endDrawing()">
    </canvas>
  </div>
  <ion-button (click)="clear()">
    <ion-label>Limpiar</ion-label>
  </ion-button>
  <ion-item @ngIf({showName})>
    <ion-label>Nombre</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-item @ngIf({showPin})>
    <ion-label>Identificación</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-item @ngIf({showNotes})>
    <ion-label>Observaciones</ion-label>
    <ion-input></ion-input>
  </ion-item>
</ion-content>
