<ion-content [fullscreen]="true">
  <br>
  <br>
  <br>
  <form color="light">
    <ion-list inset="true" >
      <ion-item lines="none">
        <img src="../../../assets/img/Gresst.png" alt="" class="logo">
      </ion-item>
      <ion-item>
        <ion-icon name="key" item-start class="text-primary"></ion-icon>
        <ion-input [(ngModel)]="newPassword" name="newPassword" type="password" aria-label="newPassword" label="Nueva Contraseña" labelPlacement="floating" class="custom"></ion-input>
      </ion-item>
      <br>
      <ion-item>
        <ion-icon name="key" item-start class="text-primary"></ion-icon>
        <ion-input [(ngModel)]="confirmPassword" name="confirmPassword" type="password" aria-label="password" label="Confirmación Contraseña" labelPlacement="floating" class="custom"></ion-input>
      </ion-item>
      <ion-item>
        <ion-button slot="end" color="medium" shape="round" (click)="goLogin()">Regresar al inicio</ion-button>
      </ion-item>
      <br>
      <ion-button expand="block" class="custom" shape="round" (click)="create()">
        <ion-icon slot="start" name="log-in"></ion-icon>
        Cambiar Contraseña
      </ion-button>
      </ion-list>
</form>
</ion-content>
