<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="cancel()">Cancelar</ion-button>
    </ion-buttons>
    <ion-title>Eliminar</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content color="light">
  <ion-segment value="Dismiss">
    <ion-segment-button value="Dismiss" (click)="changeService('15')">
      <ion-icon name="trash"></ion-icon>Desechar
    </ion-segment-button>
    <ion-segment-button value="Dispose" (click)="changeService('2')">
      <ion-icon name="flame"></ion-icon>Destruir
    </ion-segment-button>
    <ion-segment-button value="Store" (click)="changeService('1')">
      <ion-icon name="archive"></ion-icon>Almacenar
    </ion-segment-button>
  </ion-segment>
  <ion-list>
    <ion-item lines="none" color="light">
      <ion-title>{{ residue?.Material }} #{{residueId}}</ion-title>
    </ion-item>
    <ion-item lines="none" color="light">
      <ion-icon name="location-outline" slot="start"></ion-icon>
      <ion-label size="small">{{ residue?.DepositoOrigen }}</ion-label>
    </ion-item>
    <ion-item lines="none" color="light">
      <ion-icon name="calendar-outline" slot="start"></ion-icon>
      <ion-label size="small">{{ residue?.FechaIngreso }}</ion-label>
    </ion-item>
    <ion-item lines="none" color="light">
      <ion-icon name="person-outline" slot="start"></ion-icon>
      <ion-label size="small">{{ residue?.Propietario }}</ion-label>
    </ion-item>
    <ion-item lines="none" color="light">
      <ion-icon name="clipboard-outline" slot="start"></ion-icon>
      <ion-label size="small">{{ residue?.Solicitud }}</ion-label>
    </ion-item>
    <ion-item lines="none" color="light" *ngIf="material?.TipoMedicion == 'C'">
      <ion-icon name="calculator-outline" slot="start"></ion-icon>
      <ion-label size="small">{{ residue?.Cantidad }} {{ unidadCantidad }}</ion-label>
    </ion-item>
    <ion-item lines="none" color="light" *ngIf="material?.TipoMedicion == 'P'">
      <ion-icon name="calculator-outline" slot="start"></ion-icon>
      <ion-label size="small">{{ residue?.Peso }} {{ unidadPeso }}</ion-label>
    </ion-item>
    <ion-item lines="none" color="light" *ngIf="material?.TipoMedicion == 'V'">
      <ion-icon name="calculator-outline" slot="start"></ion-icon>
      <ion-label size="small">{{ residue?.Volumen }} {{ unidadVolumen }}</ion-label>
    </ion-item>
  </ion-list>
  <ion-item-divider>Eliminar</ion-item-divider>
  <ion-list inset="true">
    <ion-item>
      <ion-label>Fecha</ion-label>
      <ion-datetime-button datetime="datetime" ></ion-datetime-button>
    </ion-item>
    <ion-item *ngIf="serviceId=='2'">
      <ion-label slot="start">Planta</ion-label>
      <ion-label>{{ point }}</ion-label>
      <ion-button color="light" (click)="selectPlant()">...</ion-button>
    </ion-item>
    <ion-item *ngIf="serviceId=='1'">
      <ion-label slot="start">Almacen</ion-label>
      <ion-label>{{ point }}</ion-label>
      <ion-button color="light" (click)="selectStore()">...</ion-button>
    </ion-item>
    <ion-item *ngIf="serviceId=='15'">
      <ion-label slot="start">Tratamiento</ion-label>
      <ion-label>{{ treatment }}</ion-label>
      <ion-button color="light" (click)="selectTreatment()">...</ion-button>
    </ion-item>
  </ion-list>
  <ion-button expand="full" (click)="confirm()">Eliminar</ion-button>
</ion-content>
<ion-modal [keepContentsMounted]="true">
  <ng-template>
    <ion-datetime id="datetime" presentation="date" (ionChange)="dateTimeChanged($event)"></ion-datetime>
  </ng-template>
</ion-modal>
