<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="cancel()" color="medium">
        Cancelar
      </ion-button>
    </ion-buttons>
    <ion-title>
      Agregar
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
<ion-content [fullscreen]="true" color="light">
  <ion-segment value="Produce">
    <ion-segment-button *ngIf="showProduce" value="Produce" (click)="changeService(11)">
      <ion-icon src="../../../assets/icon/warehouse.svg"></ion-icon>
      Producido
    </ion-segment-button>
    <ion-segment-button *ngIf="showReceive" value="Get" (click)="changeService(4)">
      <ion-icon src="../../../assets/icon/archive.svg"></ion-icon>
      Recibido
    </ion-segment-button>
    <ion-segment-button *ngIf="showTransport" value="Transport" (click)="changeService(8)">
      <ion-icon src="../../../assets/icon/truck.svg"></ion-icon>
      Recogido
    </ion-segment-button>
    <ion-segment-button *ngIf="showCollect" value="Collect" (click)="changeService(13)">
      <ion-icon src="../../../assets/icon/carryonbag.svg"></ion-icon>
      Recolectado
    </ion-segment-button>
  </ion-segment>
  <form [formGroup]="formData">
    <ion-list inset="true">
      <ion-item>
        <ion-label>Fecha</ion-label>
        <ion-datetime-button datetime="datetime" ></ion-datetime-button>
      </ion-item>
      <ion-item>
        <ion-label slot="start">Material</ion-label>
        <ion-label>{{ material }}</ion-label>
        <ion-button color="light" (click)="selectMaterial()">...</ion-button>
      </ion-item>
      <ion-item>
        <ion-label>Punto de Recepción</ion-label>
        <ion-label>{{ puntoRecepcion }}</ion-label>
        <ion-button color="light" (click)="selectPuntoRecepcion()">...</ion-button>
      </ion-item>
      <ion-item *ngIf="serviceId==8">
        <ion-label>Vehículo</ion-label>
        <ion-label>{{ vehiculo }}</ion-label>
        <ion-button color="light" (click)="selectVehiculo()">...</ion-button>
      </ion-item>
      <ion-item *ngIf="serviceId==13">
        <ion-label>Punto de Recolección</ion-label>
        <ion-label>{{ puntoRecoleccion }}</ion-label>
        <ion-button color="light" (click)="selectPuntoRecoleccion()">...</ion-button>
      </ion-item>
      <ion-item *ngIf="serviceId==14">
        <ion-label>Propietario</ion-label>
        <ion-label>{{ propietario }}</ion-label>
        <ion-button color="light" (click)="selectPropietario()">...</ion-button>
      </ion-item>
      <ion-item *ngIf="medicion=='C'">
        <ion-input type="number" inputmode="numeric" formControlName="Cantidad" label="Un"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input type="number" inputmode="numeric" formControlName="Peso" label="Kg"></ion-input>
      </ion-item>
      <ion-item detail="true" (click)="toggleShowDetails()">Otros detalles</ion-item>
      <ion-item *ngIf="showDetails">
        <ion-label>Embalaje</ion-label>
        <ion-label>{{ embalaje }}</ion-label>
        <ion-button color="light" (click)="selectEmbalaje()">...</ion-button>
      </ion-item>
      <ion-item *ngIf="showDetails">
        <ion-input type="number" inputmode="numeric" formControlName="CantidadEmbalaje" label="Cantidad Embalaje"></ion-input>
      </ion-item>
      <ion-item *ngIf="showDetails">
        <ion-input type="number" inputmode="numeric" formControlName="Valor" label="Valor"></ion-input>
      </ion-item>
      <ion-item *ngIf="showDetails">
        <ion-textarea formControlName="Observaciones" label="Notas"></ion-textarea>
      </ion-item>
    </ion-list>
    <ion-item>
      <img [src]="photo" *ngIf="photo">
      <ion-button (click)="takePhoto()" color="light">
        <ion-icon name="camera-outline"></ion-icon>
        Foto
      </ion-button>
    </ion-item>
    <ion-button expand="full" (click)="confirm()">Agregar</ion-button>
  </form>
</ion-content>
<ion-modal [keepContentsMounted]="true">
  <ng-template>
    <ion-datetime id="datetime" presentation="date" (ionChange)="dateTimeChanged($event)"></ion-datetime>
  </ng-template>
</ion-modal>
