<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="cancel()" color="medium">Cancelar
      </ion-button>
    </ion-buttons>
    <ion-title>{{ task?.Solicitud }}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content color="light">
  <form [formGroup]="frmTarea">
    <ion-list color="light">
      <ion-item color="light" lines="none" *ngIf="point != ''">
        <ion-icon name="location-outline" slot="start"></ion-icon>
        <ion-label size="small">{{ stakeholder }} - {{ point }}</ion-label>
      </ion-item>
      <ion-item color="light" lines="none">
        <ion-icon src="../../../assets/icon/recycle-bag.svg" slot="start"></ion-icon>
        <ion-label class="ion-text-wrap">{{ material }}</ion-label>
      </ion-item>
    </ion-list>
    <ion-list inset="true">
      <ion-item *ngIf="showTratamiento">
        <ion-note slot="start">Tratamiento</ion-note>
        <ion-label>{{ treatment }}</ion-label>
        <ion-button color="light" (click)="selectTratamiento()">...</ion-button>
      </ion-item>
      <ion-item *ngIf="medicion=='C' || captura == 'C'">
        <ion-note slot="start">Cantidad</ion-note>
        <ion-input type="number" inputmode="numeric" formControlName="Cantidad" aria-label="Cantidad"></ion-input>
        <ion-note slot="end">un</ion-note>
      </ion-item>
      <ion-item *ngIf="medicion=='P' || captura == 'P'">
        <ion-note slot="start">Peso</ion-note>
        <ion-input type="number" inputmode="numeric" formControlName="Peso" aria-label="Peso"></ion-input>
        <ion-note slot="end">kg</ion-note>
      </ion-item>
      <ion-item *ngIf="medicion=='V' || captura == 'V'">
        <ion-note slot="start">Volumen</ion-note>
        <ion-input type="number" inputmode="numeric" formControlName="Volumen" aria-label="Volumen"></ion-input>
        <ion-note slot="end">m3</ion-note>
      </ion-item>
      <ion-item >
        <ion-note slot="start">Embalaje</ion-note>
        <ion-label>{{ package }}</ion-label>
        <ion-button color="light" (click)="selectEmbalaje()">...</ion-button>
      </ion-item>
      <ion-item>
        <ion-note slot="start">Cantidad</ion-note>
        <ion-input type="number" inputmode="numeric" formControlName="CantidadEmbalaje" aria-label="Cantidad"></ion-input>
      </ion-item>
      <ion-item>
        <ion-note slot="start">Observaciones</ion-note>
        <ion-textarea formControlName="Observaciones" aria-label="Observaciones" ></ion-textarea>
      </ion-item>
      <ion-item lines="none" color="light">
        <ion-button expand="full" (click)="takePhoto()" color="secondary">
          <ion-icon name="camera-outline"></ion-icon>
          Foto
        </ion-button>
        <ion-badge slot="end" color="secondary">{{ fotos.length }}</ion-badge>
      </ion-item>
      <ion-item>
        <ion-grid>
          <ion-row>
            <ion-col size="6" *ngFor="let foto of fotos; let i = index">
              <ion-card>
                <img [src]="foto"/>
                <ion-button color="danger" (click)="deletePhoto(i)">Eliminar</ion-button>
              </ion-card>
            </ion-col>
          </ion-row>
        </ion-grid>
        </ion-item>
      </ion-list>
    <ion-item>
      <ion-button slot="start" (click)="confirm()" color="success" size="default" fill="solid">Confirmar</ion-button>
      <ion-button slot="end" (click)="reject()" color="danger" size="default" fill="solid">Rechazar</ion-button>
    </ion-item>
  </form>
</ion-content>
<ion-footer>
</ion-footer>
