<ion-content [fullscreen]="true" color="light">
  <ion-toolbar>
    <ion-searchbar  placeholder="Buscar ..."></ion-searchbar>
  </ion-toolbar>
  <ion-list *ngFor="let residuo of residuos" inset=true>
    <ion-item lines="none" (click)="openMenu(residuo.Id)">
      <ion-card-title>{{residuo.MaterialName}} </ion-card-title>
    </ion-item>
    <ion-item *ngIf="isNumeric(residuo.Id)" lines="none" (click)="openMenu(residuo.Id)">
      <ion-note>#{{residuo.Id}}</ion-note>
    </ion-item>
    <ion-item lines="none" (click)="openMenu(residuo.Id)">
      <ion-card-subtitle>{{residuo.OwnerName}}{{residuo.OriginFacilityName}}{{residuo.RequestName}}</ion-card-subtitle>
    </ion-item>
    <ion-item>
      <ion-label size="small">{{residuo.LocationName}}</ion-label>
      <ion-chip slot="end">
        <ion-badge size="small" color="light" > {{ residuo.QuantitiesName }} </ion-badge>
      </ion-chip>
      </ion-item>
    <ion-item lines="none">
      <ion-button id="moveButton" fill="clear" color="primary" size="large" *ngIf="residuo.StatusId == 'A'">
        <ion-icon name="move"></ion-icon>
      </ion-button>
      <ion-button fill="clear" color="primary" size="large"  *ngIf="residuo.StatusId == 'A'">
        <ion-icon name="construct-outline"></ion-icon>
      </ion-button>
      <ion-button fill="clear" color="primary" size="large">
        <ion-icon name="share-outline"></ion-icon>
      </ion-button>
        <ion-button fill="clear" color="primary" size="large" *ngIf="residuo.StatusId == 'A' && residuo.IsRecyclable">
        <ion-icon name="share-social"></ion-icon>
      </ion-button>
      <ion-button fill="clear" color="danger" size="large" *ngIf="residuo.StatusId == 'A'">
        <ion-icon name="close"></ion-icon>
      </ion-button>
      </ion-item>
  </ion-list>
  <ion-fab slot="fixed" vertical="bottom" horizontal="end" *ngIf="permiteAgregar">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>

