<ion-content [fullscreen]="true">
  <br>
  <br>
  <br>
  <ion-item lines="none">
    <img src="../../../assets/img/Gresst.png" alt="" class="logo">
  </ion-item>
  <form color="light">
    <ion-list inset="true" >
      <ion-item>
        <ion-label color="light">
          Escriba el código que se envió a su correo
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="person" item-start class="text-primary"></ion-icon>
        <ion-input [(ngModel)]="verificationCode" name="verificationCode" type="text" label="Código" labelPlacement="floating" class="custom"></ion-input>
      </ion-item>
      <ion-item>
        <ion-button slot="end" color="medium" shape="round" (click)="goLogin()">Regresar al inicio</ion-button>
      </ion-item>
        <ion-button expand="block" class="custom" shape="round" (click)="verify()">
        <ion-icon slot="start" name="log-in"></ion-icon>
        Verificar Código
      </ion-button>
    </ion-list>
  </form>
</ion-content>
