ion-content {
  --background: url('../../../assets/img/Fondo.png') no-repeat center center fixed;
  --background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  vertical-align: middle;
  height: 100vh;
  display: flex;
  justify-content: center;
}

ion-list{
  background-color: transparent;
}

ion-item{
  --ion-background-color:none
}

.logo{
  height: 80px;
}

.transparent-item {
  --background:transparent;
  --border-style:none;
}
