<ion-content [fullscreen]="true">
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <ion-item lines="none">
    <img src="../../../assets/img/Gresst.png" alt="" class="logo">
  </ion-item>
  <br/>
  <br/>
  <form color="light">
    <ion-list inset="true" lines="inset">
      <ion-item>
        <ion-icon name="person" slot="start" ></ion-icon>
        <ion-input label="Usuario" labelPlacement="floating" [(ngModel)]="username" name="username" type="email" aria-label="username" ></ion-input>
      </ion-item>
      <br/>
      <ion-item>
        <ion-icon name="key" slot="start"></ion-icon>
        <ion-input fill="outline" [(ngModel)]="password" name="password" type="password" aria-label="password" label="Contraseña" labelPlacement="floating"></ion-input>
      </ion-item>
    </ion-list>
    <ion-buttons>
      <ion-button color="dark" fill="clear" (click)="goPassword()">Olvidó su contraseña?</ion-button>
      <ion-button color="dark" fill="clear" (click)="goRegister()">Quiere Registrarse?</ion-button>
    </ion-buttons>
    <ion-button expand="block" color="medium" shape="round" (click)="login()">
      <ion-icon slot="start" name="log-in"></ion-icon>
      Ingresar
    </ion-button>
  </form>
</ion-content>
