<ion-header *ngIf="showHeader">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="cancel()">Cancelar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-searchbar (ionInput)="handleInput($event)"></ion-searchbar>
<ion-content *ngIf="facilities.length == 0">
  <app-facility></app-facility>
</ion-content>
<ion-content>
  <ion-item-group *ngFor="let party of getVisibleParties()">
    <ion-item-divider color="light">
      <ion-label>{{party.Name}}</ion-label>
    </ion-item-divider>
    <ion-list *ngFor="let facility of filterFacilitiesByOwner(party.Id)" (click)="select(facility.Id, party.Id, party.Name, facility.Name)">
      <ion-item lines="none">
        {{facility.Name}}
      </ion-item>
    </ion-list>
  </ion-item-group>
</ion-content>

