<ion-header *ngIf="showHeader">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="cancel()">Cancelar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-searchbar (ionInput)="handleInput($event)"></ion-searchbar>
<ion-content *ngIf="puntos.length == 0">
  <app-facility></app-facility>
</ion-content>
<ion-content>
  <ion-item-group *ngFor="let tercero of terceros">
    <ion-item-divider color="light">
      <ion-label>{{tercero.Name}}</ion-label>
    </ion-item-divider>
    <ion-list *ngFor="let punto of filterPuntos(tercero.Id)" (click)="select(punto.Id, tercero.Id, tercero.Name, punto.Name)">
      <ion-item lines="none">
        {{punto.Name}}
      </ion-item>
      </ion-list>
  </ion-item-group>
</ion-content>

