<ion-header *ngIf="showHeader">
  <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button (click)="cancel()">Cancelar</ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-searchbar (ionInput)="handleInput($event)"></ion-searchbar>
  <ion-item *ngIf="supplies.length != 0 && !showNew">
    <ion-button (click)="new()">
      <ion-icon name="add"></ion-icon>
      Nuevo
    </ion-button>
  </ion-item>
  <ion-content *ngIf="supplies.length == 0 || showNew">
    <ion-item-divider> Nuevo</ion-item-divider>
    <form [formGroup]="formData">
      <ion-item>
        <ion-input formControlName="Nombre" label="Nombre" labelPlacement="stacked"></ion-input>
      </ion-item>
      <ion-item>
        <ion-button (click)="create()">
          <ion-icon name="save-outline"></ion-icon>
          Crear
        </ion-button>
      </ion-item>
    </form>
  </ion-content>
  <ion-content>
    <ion-list *ngFor="let supply of supplies">
      <ion-item (click)="select(supply.IdInsumo)">
        <ion-icon name="checkmark-outline" *ngIf="selectedValue === supply.IdInsumo"></ion-icon>
        <ion-label>{{ supply.Nombre }}</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
