<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title size="large">Sincronizar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-label>
      Esta operación obtiene del servidor los datos maestros actualizados
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-button color="success" (click)="synchronize()" size="large">Sincronizar</ion-button>
  </ion-item>
</ion-content>

<ion-footer>
</ion-footer>
