<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="cancel()" color="medium">
        <ion-icon name="close-circle"></ion-icon>
        {{ 'TASK_ADD.CANCEL' | translate }}
      </ion-button>
    </ion-buttons>
    <ion-title>{{ 'TASK_ADD.TITLE' | translate }}</ion-title>
    <ion-buttons slot="end">
      <ion-button [strong]="true" (click)="submit()" color="success" [disabled]="!formData.valid">
        <ion-icon name="checkmark-circle"></ion-icon>
        {{ 'TASK_ADD.CONFIRM' | translate }}
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  <ion-item color="light" class="ion-no-padding">
    <ion-title>{{ formData.get('Titulo')?.value }}</ion-title>
  </ion-item>

  <form [formGroup]="formData" (ngSubmit)="submit()">
    <ion-list color="light" class="ion-no-padding">
      <!-- Point Info -->
      <ion-item color="light" lines="none" class="ion-no-padding" *ngIf="formData.get('InputPoint')?.value">
        <ion-icon name="location-outline" slot="start"></ion-icon>
        <ion-label size="small">{{ formData.get('Title')?.value }}</ion-label>
      </ion-item>
    </ion-list>

    <ion-list inset="true" class="ion-no-padding">
      <!-- Collection Point -->
      <ion-item class="ion-no-padding" *ngIf="requestPoint">
        <ion-note slot="start">{{ 'TASK_ADD.COLLECTION_POINT' | translate }}</ion-note>
        <ion-label>{{ formData.get('InputPoint')?.value }}</ion-label>
        <ion-button color="light" (click)="selectInputPoint()">...</ion-button>
      </ion-item>

      <!-- Delivery Point -->
      <ion-item class="ion-no-padding">
        <ion-note slot="start">{{ 'TASK_ADD.DELIVERY_POINT' | translate }}</ion-note>
        <ion-label>{{ formData.get('OutputPoint')?.value }}</ion-label>
        <ion-button color="light" (click)="selectOutputPoint()">...</ion-button>
      </ion-item>

      <!-- Material -->
      <ion-item class="ion-no-padding">
        <ion-note slot="start">{{ 'TASK_ADD.MATERIAL' | translate }}</ion-note>
        <ion-label>{{ formData.get('Material')?.value }}</ion-label>
        <ion-button color="light" (click)="selectMaterial()">...</ion-button>
      </ion-item>

      <!-- Quantity -->
      <ion-item class="ion-no-padding">
        <ion-note slot="start">{{ 'TASK_ADD.QUANTITY' | translate }}</ion-note>
        <ion-input type="number" inputmode="numeric" formControlName="Quantity" (ionChange)="calculateFromQuantity($event)"></ion-input>
        <ion-note slot="end">un</ion-note>
      </ion-item>

      <!-- Weight -->
      <ion-item class="ion-no-padding" *ngIf="measurementType === 'P' || captureType === 'P'">
        <ion-note slot="start">{{ 'TASK_ADD.WEIGHT' | translate }}</ion-note>
        <ion-input type="number" inputmode="numeric" formControlName="Weight" readonly></ion-input>
        <ion-note slot="end">kg</ion-note>
      </ion-item>

      <!-- Volume -->
      <ion-item class="ion-no-padding" *ngIf="measurementType === 'V' || captureType === 'V'">
        <ion-note slot="start">{{ 'TASK_ADD.VOLUME' | translate }}</ion-note>
        <ion-input type="number" inputmode="numeric" formControlName="Volume" readonly></ion-input>
        <ion-note slot="end">m3</ion-note>
      </ion-item>

      <!-- Packaging -->
      <ion-item class="ion-no-padding" *ngIf="requestPackaging">
        <ion-note slot="start">{{ 'TASK_ADD.PACKAGING' | translate }}</ion-note>
        <ion-label>{{ formData.get('Packaging')?.value }}</ion-label>
        <ion-button color="light" (click)="selectPackaging()">...</ion-button>
      </ion-item>

      <!-- Observations -->
      <ion-item class="ion-no-padding">
        <ion-note slot="start">{{ 'TASK_ADD.OBSERVATIONS' | translate }}</ion-note>
        <ion-textarea formControlName="Observations"></ion-textarea>
      </ion-item>

      <!-- Photos -->
      <ion-item lines="none" color="light" class="ion-no-padding">
        <ion-button expand="full" (click)="takePhoto()" color="secondary" *ngIf="photosPerMaterial > photos.length">
          <ion-icon name="camera-outline"></ion-icon>
          {{ 'TASK_ADD.TAKE_PHOTO' | translate }}
        </ion-button>
        <ion-badge slot="end" color="secondary">{{ photos.length }}</ion-badge>
      </ion-item>

      <ion-item class="ion-no-padding">
        <ion-grid>
          <ion-row>
            <ion-col size="6" *ngFor="let photo of photos; let i = index">
              <ion-card class="ion-no-margin">
                <img [src]="photo"/>
                <ion-button color="danger" (click)="deletePhoto(i)">{{ 'TASK_ADD.DELETE_PHOTO' | translate }}</ion-button>
              </ion-card>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-list>
  </form>
</ion-content>

