<app-header [pageTitle]="title"></app-header>
<app-menu contentId="main-content"></app-menu>

<ion-tabs #tabs (ionTabsDidChange)="onTabChange($event)">
  <ion-tab-bar slot="bottom">
    <ion-tab-button
      tab="activities"
      (click)="setHeader('HOME.TABS.SHIFT', 'help-jornada')"
      [class.active]="currentTab() === 'activities'">
      <ion-icon src="../../../assets/icon/workhistory.svg"></ion-icon>
      {{ 'HOME.TABS.SHIFT' | translate }}
    </ion-tab-button>
  </ion-tab-bar>

  <ion-tab tab="activities">
    <ion-content id="main-content" [fullscreen]="true">
      <ion-router-outlet name="activities"></ion-router-outlet>
    </ion-content>
  </ion-tab>

</ion-tabs>

