<app-header [pageTitle]="title" [helpPopup]="helpPopup"></app-header>
<app-menu></app-menu>
<ion-content id="main-content">
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="actividades" (click)="setHeader('Jornada','help-jornada')">
        <ion-icon src="../../../assets/icon/workhistory.svg"></ion-icon>
        Jornada
      </ion-tab-button>
      <ion-tab-button tab="inventario" (click)="setHeader('Inventario','help-inventario')">
        <ion-icon src="../../../assets/icon/warehouse.svg"></ion-icon>
        Inventario
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>

