<ion-header *ngIf="showHeader">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="cancel()">Cancelar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-searchbar (ionInput)="handleInput($event)"></ion-searchbar>
<ion-content *ngIf="puntos.length == 0">
  <app-point></app-point>
</ion-content>
<ion-content>
  <ion-item-group *ngFor="let tercero of terceros">
    <ion-item-divider color="light">
      <ion-label>{{tercero.Nombre}}</ion-label>
    </ion-item-divider>
    <ion-list *ngFor="let punto of filterPuntos(tercero.IdTercero)" (click)="select(punto.IdPunto, tercero.IdTercero, tercero.Nombre, punto.Nombre)">
      <ion-item lines="none">
        {{punto.Nombre}}
      </ion-item>
      </ion-list>
  </ion-item-group>
</ion-content>
