<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="cancel()" color="medium">
        <ion-icon name="close-circle"></ion-icon>
        Salir
      </ion-button>
    </ion-buttons>
    <ion-title></ion-title>
    <ion-buttons slot="end">
      <ion-button [strong]="true" (click)="confirm()" color="success">
        <ion-icon name="checkmark-circle"></ion-icon>
        Confirmar
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-item color="light">
  <ion-title>
    <ion-icon slot="start" size="large" [color]="getStateColor(actividad?.IdEstado ?? '')" [src]="actividad?.Icono"></ion-icon>
    <ion-label class="ion-text-wrap">
      {{ title }}
    </ion-label>
  </ion-title>
</ion-item>
<ion-content color="light">
  <form [formGroup]="frmConsumo">
    <ion-list inset="true">
      <ion-item>
        <ion-input label="Insumo" labelPlacement="floating" formControlName="Insumo"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input label="Cantidad" labelPlacement="floating" formControlName="Cantidad" type="number"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input label="Precio" labelPlacement="floating" formControlName="Precio" type="number"></ion-input>
      </ion-item>
    </ion-list>
  </form>
</ion-content>
