<ion-menu menuId="MainMenu" contentId="main-content">
  <ion-header>
    <ion-item>
      <img src="../../../assets/img/Gresst.png" alt="" class="logo">
    </ion-item>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item (click)="navigateTo('cuenta')">
        <ion-icon name="people-outline"></ion-icon>
        {{ account }}
      </ion-item>
      <ion-item (click)="navigateTo('perfil')">
        <ion-icon name="person-outline"></ion-icon>
        {{ user }}
      </ion-item>
      <ion-item (click)="navigateTo('certificados-buscar')">
        <ion-icon name="shield-checkmark-outline"></ion-icon>        Certificados
      </ion-item>
      <ion-item>
        <ion-icon name="sync-outline"></ion-icon>        Sincronizar
      </ion-item>
      <ion-item-divider>Datos Maestros</ion-item-divider>
      <ion-item *ngIf="showEmbalajes" (click)="navigateTo('embalajes')">Embalajes</ion-item>
      <ion-item *ngIf="showInsumos" (click)="navigateTo('insumos')">Insumos</ion-item>
      <ion-item *ngIf="showMateriales" (click)="navigateTo('materiales')">Materiales</ion-item>
      <ion-item *ngIf="showServicios" (click)="navigateTo('servicios')">Servicios</ion-item>
      <ion-item *ngIf="showPuntos" (click)="navigateToPuntos()">Puntos</ion-item>
      <ion-item *ngIf="showTerceros" (click)="navigateTo('terceros')">Terceros</ion-item>
      <ion-item *ngIf="showTratamientos" (click)="navigateTo('tratamientos')">Tratamientos</ion-item>
      <ion-item *ngIf="showVehiculos" (click)="navigateTo('vehiculos')">Vehículos</ion-item>
      <ion-item-divider>Salir</ion-item-divider>
      <ion-item (click)="logout()">
        <ion-icon name="power-outline"></ion-icon>        Cerrar sesión
      </ion-item>
    </ion-list>
  </ion-content>
  <ion-footer>
    <ion-item>
    </ion-item>
  </ion-footer>
</ion-menu>
